/*
ConductorOne API

The ConductorOne API is a HTTP API for managing ConductorOne resources.

API version: 0.1.0-alpha
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package c1api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// UserSearchAPIService UserSearchAPI service
type UserSearchAPIService service

type UserSearchAPIC1ApiUserV1UserSearchSearchRequest struct {
	ctx context.Context
	ApiService *UserSearchAPIService
	c1ApiUserV1SearchUsersRequest *C1ApiUserV1SearchUsersRequest
}

func (r UserSearchAPIC1ApiUserV1UserSearchSearchRequest) C1ApiUserV1SearchUsersRequest(c1ApiUserV1SearchUsersRequest C1ApiUserV1SearchUsersRequest) UserSearchAPIC1ApiUserV1UserSearchSearchRequest {
	r.c1ApiUserV1SearchUsersRequest = &c1ApiUserV1SearchUsersRequest
	return r
}

func (r UserSearchAPIC1ApiUserV1UserSearchSearchRequest) Execute() (*C1ApiUserV1SearchUsersResponse, *http.Response, error) {
	return r.ApiService.C1ApiUserV1UserSearchSearchExecute(r)
}

/*
C1ApiUserV1UserSearchSearch Method for C1ApiUserV1UserSearchSearch

Invokes the c1.api.user.v1.UserSearch.Search method.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return UserSearchAPIC1ApiUserV1UserSearchSearchRequest
*/
func (a *UserSearchAPIService) C1ApiUserV1UserSearchSearch(ctx context.Context) UserSearchAPIC1ApiUserV1UserSearchSearchRequest {
	return UserSearchAPIC1ApiUserV1UserSearchSearchRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return C1ApiUserV1SearchUsersResponse
func (a *UserSearchAPIService) C1ApiUserV1UserSearchSearchExecute(r UserSearchAPIC1ApiUserV1UserSearchSearchRequest) (*C1ApiUserV1SearchUsersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *C1ApiUserV1SearchUsersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserSearchAPIService.C1ApiUserV1UserSearchSearch")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/search/users"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.c1ApiUserV1SearchUsersRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
