/*
ConductorOne API

The ConductorOne API is a HTTP API for managing ConductorOne resources.

API version: 0.1.0-alpha
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package c1api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// AppResourceSearchAPIService AppResourceSearchAPI service
type AppResourceSearchAPIService service

type AppResourceSearchAPIC1ApiAppV1AppResourceSearchSearchAppResourceTypesRequest struct {
	ctx context.Context
	ApiService *AppResourceSearchAPIService
	c1ApiAppV1SearchAppResourceTypesRequest *C1ApiAppV1SearchAppResourceTypesRequest
}

func (r AppResourceSearchAPIC1ApiAppV1AppResourceSearchSearchAppResourceTypesRequest) C1ApiAppV1SearchAppResourceTypesRequest(c1ApiAppV1SearchAppResourceTypesRequest C1ApiAppV1SearchAppResourceTypesRequest) AppResourceSearchAPIC1ApiAppV1AppResourceSearchSearchAppResourceTypesRequest {
	r.c1ApiAppV1SearchAppResourceTypesRequest = &c1ApiAppV1SearchAppResourceTypesRequest
	return r
}

func (r AppResourceSearchAPIC1ApiAppV1AppResourceSearchSearchAppResourceTypesRequest) Execute() (*C1ApiAppV1SearchAppResourceTypesResponse, *http.Response, error) {
	return r.ApiService.C1ApiAppV1AppResourceSearchSearchAppResourceTypesExecute(r)
}

/*
C1ApiAppV1AppResourceSearchSearchAppResourceTypes Method for C1ApiAppV1AppResourceSearchSearchAppResourceTypes

Invokes the c1.api.app.v1.AppResourceSearch.SearchAppResourceTypes method.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return AppResourceSearchAPIC1ApiAppV1AppResourceSearchSearchAppResourceTypesRequest
*/
func (a *AppResourceSearchAPIService) C1ApiAppV1AppResourceSearchSearchAppResourceTypes(ctx context.Context) AppResourceSearchAPIC1ApiAppV1AppResourceSearchSearchAppResourceTypesRequest {
	return AppResourceSearchAPIC1ApiAppV1AppResourceSearchSearchAppResourceTypesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return C1ApiAppV1SearchAppResourceTypesResponse
func (a *AppResourceSearchAPIService) C1ApiAppV1AppResourceSearchSearchAppResourceTypesExecute(r AppResourceSearchAPIC1ApiAppV1AppResourceSearchSearchAppResourceTypesRequest) (*C1ApiAppV1SearchAppResourceTypesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *C1ApiAppV1SearchAppResourceTypesResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AppResourceSearchAPIService.C1ApiAppV1AppResourceSearchSearchAppResourceTypes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/search/app_resource_types"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.c1ApiAppV1SearchAppResourceTypesRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
