/*
ConductorOne API

The ConductorOne API is a HTTP API for managing ConductorOne resources.

API version: 0.1.0-alpha
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package c1api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// AppSearchAPIService AppSearchAPI service
type AppSearchAPIService service

type AppSearchAPIC1ApiAppV1AppSearchSearchRequest struct {
	ctx context.Context
	ApiService *AppSearchAPIService
	c1ApiAppV1SearchAppsRequest *C1ApiAppV1SearchAppsRequest
}

func (r AppSearchAPIC1ApiAppV1AppSearchSearchRequest) C1ApiAppV1SearchAppsRequest(c1ApiAppV1SearchAppsRequest C1ApiAppV1SearchAppsRequest) AppSearchAPIC1ApiAppV1AppSearchSearchRequest {
	r.c1ApiAppV1SearchAppsRequest = &c1ApiAppV1SearchAppsRequest
	return r
}

func (r AppSearchAPIC1ApiAppV1AppSearchSearchRequest) Execute() (*C1ApiAppV1SearchAppsResponse, *http.Response, error) {
	return r.ApiService.C1ApiAppV1AppSearchSearchExecute(r)
}

/*
C1ApiAppV1AppSearchSearch Method for C1ApiAppV1AppSearchSearch

Invokes the c1.api.app.v1.AppSearch.Search method.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return AppSearchAPIC1ApiAppV1AppSearchSearchRequest
*/
func (a *AppSearchAPIService) C1ApiAppV1AppSearchSearch(ctx context.Context) AppSearchAPIC1ApiAppV1AppSearchSearchRequest {
	return AppSearchAPIC1ApiAppV1AppSearchSearchRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return C1ApiAppV1SearchAppsResponse
func (a *AppSearchAPIService) C1ApiAppV1AppSearchSearchExecute(r AppSearchAPIC1ApiAppV1AppSearchSearchRequest) (*C1ApiAppV1SearchAppsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *C1ApiAppV1SearchAppsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AppSearchAPIService.C1ApiAppV1AppSearchSearch")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/search/apps"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.c1ApiAppV1SearchAppsRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
