/*
ConductorOne API

The ConductorOne API is a HTTP API for managing ConductorOne resources.

API version: 0.1.0-alpha
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package c1api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// AppReportActionAPIService AppReportActionAPI service
type AppReportActionAPIService service

type AppReportActionAPIC1ApiAppV1AppReportActionServiceGenerateReportRequest struct {
	ctx context.Context
	ApiService *AppReportActionAPIService
	appId string
	body *map[string]interface{}
}

func (r AppReportActionAPIC1ApiAppV1AppReportActionServiceGenerateReportRequest) Body(body map[string]interface{}) AppReportActionAPIC1ApiAppV1AppReportActionServiceGenerateReportRequest {
	r.body = &body
	return r
}

func (r AppReportActionAPIC1ApiAppV1AppReportActionServiceGenerateReportRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.C1ApiAppV1AppReportActionServiceGenerateReportExecute(r)
}

/*
C1ApiAppV1AppReportActionServiceGenerateReport Method for C1ApiAppV1AppReportActionServiceGenerateReport

Invokes the c1.api.app.v1.AppReportActionService.GenerateReport method.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param appId
 @return AppReportActionAPIC1ApiAppV1AppReportActionServiceGenerateReportRequest
*/
func (a *AppReportActionAPIService) C1ApiAppV1AppReportActionServiceGenerateReport(ctx context.Context, appId string) AppReportActionAPIC1ApiAppV1AppReportActionServiceGenerateReportRequest {
	return AppReportActionAPIC1ApiAppV1AppReportActionServiceGenerateReportRequest{
		ApiService: a,
		ctx: ctx,
		appId: appId,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *AppReportActionAPIService) C1ApiAppV1AppReportActionServiceGenerateReportExecute(r AppReportActionAPIC1ApiAppV1AppReportActionServiceGenerateReportRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AppReportActionAPIService.C1ApiAppV1AppReportActionServiceGenerateReport")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/apps/{app_id}/report"
	localVarPath = strings.Replace(localVarPath, "{"+"app_id"+"}", url.PathEscape(parameterValueToString(r.appId, "appId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
