/*
ConductorOne API

The ConductorOne API is a HTTP API for managing ConductorOne resources.

API version: 0.1.0-alpha
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package c1api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// AppEntitlementsAPIService AppEntitlementsAPI service
type AppEntitlementsAPIService service

type AppEntitlementsAPIC1ApiAppV1AppEntitlementsGetRequest struct {
	ctx context.Context
	ApiService *AppEntitlementsAPIService
	appId string
	id string
}

func (r AppEntitlementsAPIC1ApiAppV1AppEntitlementsGetRequest) Execute() (*C1ApiAppV1GetAppEntitlementResponse, *http.Response, error) {
	return r.ApiService.C1ApiAppV1AppEntitlementsGetExecute(r)
}

/*
C1ApiAppV1AppEntitlementsGet Method for C1ApiAppV1AppEntitlementsGet

Invokes the c1.api.app.v1.AppEntitlements.Get method.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param appId
 @param id
 @return AppEntitlementsAPIC1ApiAppV1AppEntitlementsGetRequest
*/
func (a *AppEntitlementsAPIService) C1ApiAppV1AppEntitlementsGet(ctx context.Context, appId string, id string) AppEntitlementsAPIC1ApiAppV1AppEntitlementsGetRequest {
	return AppEntitlementsAPIC1ApiAppV1AppEntitlementsGetRequest{
		ApiService: a,
		ctx: ctx,
		appId: appId,
		id: id,
	}
}

// Execute executes the request
//  @return C1ApiAppV1GetAppEntitlementResponse
func (a *AppEntitlementsAPIService) C1ApiAppV1AppEntitlementsGetExecute(r AppEntitlementsAPIC1ApiAppV1AppEntitlementsGetRequest) (*C1ApiAppV1GetAppEntitlementResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *C1ApiAppV1GetAppEntitlementResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AppEntitlementsAPIService.C1ApiAppV1AppEntitlementsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/apps/{app_id}/entitlements/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"app_id"+"}", url.PathEscape(parameterValueToString(r.appId, "appId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
